* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Alata",sans-serif;
    background-color: rgba(48, 0, 40, 0.966);
    color: rgba(252, 251, 251, 0.98);
    line-height: 1.7;
}

